.add-event {
    top: 20%;
    left: 10%;
    height: 80vh;
    width: 80vw;
    background-color: white;
    border: 1px solid var(--lightorange);
    position: fixed;
    z-index: 1;
    overflow: scroll;
}

.add-btn {
    font-size: 3em;
    margin-right: 1em;
}

.events-container {
    margin-top: 16vh;
}

.add-event form,
.events-container form {
    display: flex;
    flex-direction: column;
}

.add-event label,
.events-container label {
    font-weight: bold;
}

textarea,
input {
    margin-left: 1em;
    margin-right: 1em;
    width: 60vw;
}