.register {
    top: 10%;
    left: 25%;
    width: 50%;
    background-color: var(--white);
    border: 1px solid var(--rust);
    opacity: .9;
    border-radius: 4px;
    position: fixed;
    z-index: 20;
}

form {
    padding: 1em;
}

.row h2 {
    margin-left: 18rem;
}

.form-control {
    padding: .8em;
    border: 1px solid var(--lightorange);
    border-radius: 4px;
    margin: 1em;
}

.signup .submit {
    border: 1px solid var(--rust);
    border-radius: 4px;
    background: var(--rust);
    color: var(--white);
    border: none;
    padding: 10px;
}

.exit-form {
    border: 1px solid var(--rust);
    border-radius: 0 0 4px 4px;
    background: var(--rust);
    color: white;
    border: none;
    padding: .5em;
    position: absolute;
    top: 0;
    right: 0;
}