.item-card {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin: 1em;
}

.item-card p {
    padding: 0 1em;
}

.item-card img {
    height: 15vh;
    /* width: 10vw; */
}

.items,
.event-card {
    padding: 1em;
}


/* .items {
    height: 76vh;
} */