.login {
    top: 20%;
    left: 15%;
    /* width: 50%; */
    background-color: white;
    border: 1px solid var(--rust);
    opacity: .9;
    border-radius: 4px;
    position: fixed;
    justify-content: space-between;
}

.login .submit {
    border: 1px solid var(--rust);
    border-radius: 4px;
    background: var(--rust);
    color: white;
    border: none;
    padding: 10px
}