/* ----------------------------------------
Footer
------------------------------------------- */

.app {
    position: relative;
}

.footer-content {
    background-color: var(--darkorange);
    overflow: auto;
    position: absolute;
    width: 100%;
    border-top: 5px var(--rust) solid;
    padding-top: 2em;
    color: white;
}

footer input {
    padding: 11px 10px;
    width: 300px;
    margin-right: 30px;
    margin-right: 2rem;
    border: 0;
    text-align: center;
}

footer .wrap {
    padding: 30px 15px;
    padding: 2rem 1rem;
}